<div class="card-container">
  <h1 class="title">Economisește cu abonamentele Internet + TV</h1>
  <!-- <div class="navbar">
    <ul>
      <li><button class="active">Internet</button></li>
      <li><button>Internet</button></li>
      <li><button>Televiziune</button></li>
      <li><button>StarNet Vision</button></li>
    </ul>
  </div> -->

  <div class="wrapper">
    <ul class="menu">
      <li class="menu__item__one active">
        <a href="#">Internet+TV</a>
      </li>
      <li class="menu__item__two">
        <a href="#">Internet</a>
      </li>
      <li class="menu__item__three">
        <a href="#">Televiziune</a>
      </li>
      <li class="menu__item__four">
        <a href="#">StarNet Vision</a>
      </li>
      <div class="menu__bar">
        <div class="menu__bar--filled"></div>
      </div>
    </ul>
  </div>
  <section>
    <app-card [abonnement]="abonnement" *ngFor="let abonnement of abonnements"></app-card>
  </section>
</div>