@font-face {
  font-family: AvenirNext;
  font-weight: 500;
  src: url(../../../fonts/AvenirNext/AvenirNext-Medium-06.ttf) format("truetype");
}
@font-face {
  font-family: AvenirNext;
  font-weight: 700;
  src: url(../../../fonts/AvenirNext/AvenirNext-Bold-01.ttf) format("truetype");
}

.card-container{
  display: flex;
  flex-direction: column;
  width: 70vw;
  font-family: "AvenirNext";
  margin-left: 160px;
}
h1.title{
  font-weight: 700;
  font-size: 40px;
}
/* .navbar{ 
  margin: 0;
  padding: 0;
}
.navbar ul{
  padding: 0;
  margin: 0 0 52px 0;
}
.navbar ul li{
  display: inline;
  margin-right: 72px;
}
.navbar ul li:last-child{
  margin-right: 0;
}
.navbar ul li button{
  color: #888B92;
  border: 0;
  outline: 0;
  background-color: #fff;
  font-size: 24px;
  height: 100%;
  padding-bottom: 16px;
  border-bottom: solid 2px #ECEEEE;
  transition: 0.3s;
}
.navbar ul li button:focus{
  color: #000222;
  border-bottom: solid 2px #FFDA16;
  transition: 0.3s;
}
.navbar ul li button.active{
  color: #000222;
  border-bottom: solid 2px #FFDA16;
  transition: 0.3s;
}
 */

.menu{
  padding: 0;
  margin: 0;
  display: inline;
  padding: 20px 0px;
  box-sizing: border-box;
}
.menu li{
  display: inline-block;
  margin-right: 72px;
}
li.menu__item__four{
  margin-right: 0 !important;
}
.menu li a{
  display: inline-block;
  padding: 12px 0;
  text-decoration: none;
  color: #888B92;
  font-size: 24px;
  font-weight: 500;
  transition: 0.3s;
}
li.active a{
  color: #000222 !important;
}
.menu li:hover,
.menu li a:hover{
  color: #000222;
}
.menu__bar{
  height: 2px;
  width: 714px;
  background-color: #ECEEEE;
  z-index: 0;
}
.menu__bar--filled{
  margin: 0;
  padding: 0;
  height: 2px;
  background-color: #FFDA16;
  width: 132px;
  z-index: 1;
  transition: 0.5s;
}
li.menu__item__two:hover ~ .menu__bar>.menu__bar--filled,
li.menu__item__two:focus ~ .menu__bar>.menu__bar--filled{
  width: 87px;
  margin-left: 28.5%;
}
li.menu__item__three:hover ~ .menu__bar>.menu__bar--filled,
li.menu__item__three:focus ~ .menu__bar>.menu__bar--filled{
  width: 123px;
  margin-left: 50.5%;
}
li.menu__item__four:hover ~ .menu__bar>.menu__bar--filled,
li.menu__item__four:focus ~ .menu__bar>.menu__bar--filled{
  width: 156px;
  margin-left: 78%;
}
section{
  display: flex;
  flex-direction: row;
  margin-top: 56px;
}
