
<section>
  <div class="routes-container">
    <button [routerLink]="['/htmlRoute']"><p>html</p></button>
    <button [routerLink]="['/javaRoute']"><p>java</p></button>
    <button [routerLink]="['/usersTable']"><p>users</p></button>
    <button [routerLink]="['/cardPage']"><p>cards</p></button>
    <button [routerLink]="['/pipesPage']"><p>pipes</p></button>
  </div>
  <div class="routers">
    <router-outlet></router-outlet>
    <app-ex></app-ex>
  </div>
  <div class="lang-container">
    <button class="en-transloco" (click)="changeLangEn()">en</button>
    <button class="ru-transloco" (click)="changeLangRu()">ru</button>
    <button class="ro-transloco" (click)="changeLangRo()">ro</button>
  </div>
</section>