@font-face {
  font-family: AvenirNext;
  src: url(../../../fonts/AvenirNext/AvenirNextLTPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: AvenirNext;
  font-weight: 700;
  src: url(../../../fonts/AvenirNext/AvenirNextLTPro-Bold.otf) format("opentype");
}

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  font-family: "AvenirNext";
}
h1.title{
  font-weight: 700;
  font-size: 40px;
}
.navbar{ 
  margin: 0;
  padding: 0;
}
.navbar ul{
  padding: 0;
}
.navbar ul li{
  display: inline;
  margin-right: 72px;
}
.navbar ul li:last-child{
  margin-right: 0;
}
.navbar ul li button{
  color: #888B92;
  border: 0;
  outline: 0;
  background-color: #fff;
  font-size: 24px;
  height: 100%;
  padding-bottom: 16px;
  border-bottom: solid 2px #ECEEEE;
  transition: 0.3s;
}
.navbar ul li button:focus{
  color: #000222;
  border-bottom: solid 2px #FFDA16;
  transition: 0.3s;
}
.navbar ul li button.active{
  color: #000222;
  border-bottom: solid 2px #FFDA16;
  transition: 0.3s;
}

section{
  display: flex;
  flex-direction: row;
}
