<div class="card-container">
  <h1 class="title">Economisește cu abonamentele Internet + TV</h1>
  <div class="navbar">
    <ul>
      <li><button class="active">Internet+TV</button></li>
      <li><button>Internet</button></li>
      <li><button>Televiziune</button></li>
      <li><button>StarNet Vision</button></li>
    </ul>
  </div>
  <section>
    <div class="card">
      <h2>cel mai popular</h2>
      <h1>Internet M + TV</h1>
      <p>Internet Fibră Optică</p>
      <p>500 Mbps</p>
      <div class="progress-bar">
        <div class="complete-bar"></div>
      </div>
      <div class="grila-card"><p>Grila TV</p></div>
      <ul>
        <li><button id="TvCard1PlusBtn" (click)="changeCard1ValTvPlus()" class="active">TV Plus</button></li>
        <li><button id="TvCard1ProBtn" (click)="changeCard1ValTvPro()">TV Pro</button></li>
        <li><button>#</button></li>
      </ul>
      <p class="canale" id="channels">{{tvCard1Channels}}</p>
      <div class="progress-bar">
        <div class="complete-bar2"></div>
      </div>
      <div class="small-card">
        <div class="card-image"></div>
        <p>Aplicație StarNet TV</p>
        <button>Gratuit</button>
      </div>
      <a href="#">Toate avantajele</a>
      <div class="price-part">
        <ul>
          <li><p><s>{{tvCard1FullPrice}}</s></p></li>
          <li><p>{{tvCard1Price}}</p></li>
        </ul>
        <button>Alege</button>
      </div>
    </div>
    
    <div class="card">
      <h2>cel mai performant</h2>
      <h1>Internet L + TV</h1>
      <p>Internet Fibră Optică</p>
      <p>1 Gbps</p>
      <div class="progress-bar">
        <div class="complete-bar3"></div>
      </div>
      <ul class="list-margin">
        <li><button id="TvCard2PlusBtn" (click)="changeCard2ValTvPlus()" class="active">TV Plus</button></li>
        <li><button id="TvCard2ProBtn" (click)="changeCard2ValTvPro()">TV Pro</button></li>
        <li><button>#</button></li>
      </ul>
      <p class="canale">{{tvCard2Channels}}</p>
      <div class="progress-bar">
        <div class="complete-bar4"></div>
      </div>
      <div class="small-card2">
        <div class="card-image"></div>
        <p>Aplicație StarNet TV</p>
        <button>Gratuit</button>
      </div>
      <a href="#">Toate avantajele</a>
      <div class="price-part2">
        <ul>
          <li><p><s>{{tvCard2FullPrice}}</s></p></li>
          <li><p>{{tvCard2Price}}</p></li>
        </ul>
        <button>Alege</button>
      </div>
    </div>
  </section>
</div>