.card--dark {
  background-color: #000222 !important;
}
.card--dark p, 
.card--dark a,
.card--dark button,
.card--dark .card__title {
  color: #fff;
}
.card--dark .card__small-card p,
.card--dark .card__price-part ul li:nth-child(2),
.card--dark ul.card__channels-selection li button.active,
.card--dark ul.card__channels-selection li button:hover{
  color: #fff !important;
}
.card--dark ul.card__channels-selection{
  margin-top: 30px;
}
.card--dark .card__small-card{
  background-color: #151632;
}


.card{
  border-radius: 24px;
  width: 376px;
  height: 634px;
  padding: 40px;
  box-sizing: border-box;
  margin-right: 32px;
  background-color: #F5F7F7;
}

.card__description{
  font-size: 14px;
  font-weight: 700;
  color: #FF5544;
  margin: 0 0 8px 0;
  text-transform: uppercase;
}
.card__title{
  font-weight: 700;
  font-size: 24px;
  color: #000222;
  margin: 0 0 40px 0;
}
p.card__internet-type{
  font-size: 14px;
  font-weight: 700;
  color: #888B92;
}
p.card__internet-speed{
  font-size: 32px;
  font-weight: 700;
  color: #000222;
  margin: 0 0 8px 0;
}
.card__progressbar{
  height: 12px;
  width: 296px;
  border-radius: 12px;
  background-color: #ECEEEE;
}
.card__progressbar--filled{
  margin: 0;
  padding: 0;
  height: 12px;
  background-color: #FFDA16;
  border-radius: 12px;
  transition: 0.3s;
}
.card__grila{
  background-color: #fff;
  height: 23px;
  width: 64px;
  border-radius: 8px;
  font-size: 12px;
  color: #000222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto 0 auto;
}
ul.card__channels-selection{
  padding: 0;
  margin: 0;
}
ul.card__channels-selection li{
  display: inline;
  margin-right: 20px;
}
ul.card__channels-selection li:last-child{
  margin: 0;
}
ul.card__channels-selection li button{
  color: #888B92;
  text-decoration: none;
  transition: 0.3s;
  border: none;
  background: none;
  cursor: pointer;
}
ul.card__channels-selection li button:hover{
  color: #000222;
  text-decoration: underline;
  transition: 0.3s;
}
ul.card__channels-selection li button.active{
  color: #000222;
  text-decoration: underline;
  transition: 0.3s;
}
p.card__channels{
  color: #000222;
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 8px 0;
}
.card__small-card{
  margin: 32px 0 28px 0;
  background-color: #fff;
  width: 274px;
  height: 82px;
  border-radius: 12px;
  padding: 22px;
  display: flex;
  position: relative;
}
div.card__small-card__card-image{
  height: 60px;
  width: 60px;
  margin: auto 0;
  background-image: url(../../../../images/StarNetLogo.svg);
}
.card__small-card p{
  color: #000222;
  font-size: 15px;
  font-weight: 700;
  margin: 10px 0 14px 26px;
}
.card__small-card button{
  width: 65px;
  height: 25px;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: #000222;
  font-size: 14px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 105px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
a.card__advantage-info{
  font-size: 14px;
  color: #000222;
}
.card__price-part{
  display: flex;
  flex-direction: row;
  margin: 0;
}
.card__price-part ul{
  padding: 0;
  margin: 0;
}
.card__price-part ul li{
  padding: 0;
  display: block !important;
}
.card__price-part ul li:first-child{
  color: #888B92;
  font-size: 14px;
  margin: 30px 0 0 0;
  text-decoration: line-through;
}
.card__price-part ul li:last-child{
  color: #000222;
  font-size: 20px;
  margin: 5px 0 0 0 ;
}
.card__price-part button{
  background-color: #FFDA16;
  color: #000222;
  font-size: 18px;
  width: 132px;
  height: 60px;
  border: 0;
  border-radius: 12px;
  margin: 20px 0 0 auto;
  cursor: pointer;
}
.hidden{
  display: none;
}